body{
    width: 100%;
    position: relative;
    margin: none;
    background: linear-gradient(45deg,rgb(250, 255, 153),white);

}
.main{
    width: 100%;
    height: 20%;
    color: #000000;
    transition: 1.0s;
    font-style: italic;
}
.main:hover{
    color: goldenrod;
    transition: 1.0s;
}
img{
    width: 12rem;
    height: 12rem;
    border: 2px solid goldenrod;
    border-radius: 6px;
    margin: 5px 15px 1rem 0;
    border-color: goldenrod;
    filter: grayscale(70%);
    float: left;
    transition: 1.0s;
    box-shadow: 4px 4px 14px 2px rgb(0,0.2,0);
}
img:hover{
    filter: grayscale(0%);
    transition: 1.0s;
    border-radius: 20px;
}
.maincont{
    position: relative;
    width: 100%;
}
.c1{
    position: relative;;
    width: 90%;
    margin: 5px 5% 0px 5%;
}
h3{
    border-bottom: 0.1px solid;
    padding-bottom: 0.5rem;
}
.content{
    margin: 15px 0px 2px 10px;
}
button{
    width: fit-content;
    height: 2rem;
    background-color: #000000;
    color: white;
    border-radius: 6px;
    border-color: goldenrod;
    margin-right: 2px;
    transition: 0.8s;
    font-style: italic;
}
button:hover{
    background-color: goldenrod;
    color: white;
    transition: 0.8s;
}
.item-info{
    border: 2px solid goldenrod;
    border-radius: 20px;
    width: 97%;
    padding: 1rem;
    margin-top: 8px;
    margin-left: 2%;
    height: 10rem;
    font-size: large;
    font-style: italic;
}


.menu-item{
    display: flex;
    width: 100%;
    height: 12rem;
    margin: 1rem 0 2rem 0;

}
